@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  .header__nav--main {
    display: flex;
  }

  .header__nav--mobile {
    display: none;
  }
}

@media (min-width: 1400px) {
  .header {
    padding: 1rem 15rem;
  }
}
